@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, 
cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, 
dl, dt, dd, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, p { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1.2; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear:both; }
html, body { height:100%; }

/*********/

body {
	background:url('../images/site_shadow.png') no-repeat center top #ffffff;
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

/*********/

div.main_container {
	width:1000px;
	height:100%;
}

div#main_wrapper {
	margin:0px auto;
	padding:0px;
}

div#site_wrapper {
	position:relative;
	background:url('../images/site_background.png') repeat-y left top;
	overflow:hidden;
}

div#site_container {
	overflow:hidden;
	padding:100px 5px 0px; /* padding-top depends on layout.js var height */
}

div#site_left_colm {
	width:315px; 
	float:left;
	background:url(../images/left_colm_header.png) no-repeat left top #fff;
}

div#left_colm_content {
}

div#site_main_colm {
	width:674px; 
	float:right;
	background:#FFFFFF;
}

div.site_container_inner {
	overflow: auto;
}

div#tabs_left_container {
	position:absolute;
	width:310px;
	height:28px;
	left:22px;
	top:72px;
}

div#tabs_main_container {
	position:absolute;
	width:568px;
	height:28px;
	left:320px;
	top:72px;
}

div#site_footer {
	position:absolute;
	width:1000px;
	bottom:0px;
	padding:0px 0px 16px 0px;
	background:url('../images/footer_bottom.jpg') no-repeat left bottom;
}

div#site_footer_container {
	border-bottom:5px solid #005e7c;	
	padding:8px 22px 4px 22px;
	margin:0px;
	background:#4a4a49;
	color:#fff;
}
