<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Title</title>
	<link rel="stylesheet" href="/webroot/css/screen.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
	<link rel="stylesheet" href="/webroot/css/print.css" type="text/css" media="print" title="Print CSS" charset="utf-8" /> 
  <!--[if IE]>
	<link rel="stylesheet" href="../webroot/css/ie.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	<![endif]-->
  <link rel="stylesheet" href="/webroot/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/dojo.xd.js" djConfig="parseOnLoad: true"><![CDATA[
  ]]>
  </script>
  <script type="text/javascript">
  <![CDATA[
  ]]>
  
  </script>
  
</head>

<body>
  <div class="container">
    <div class="span-16 ">
      {{$content}}
    </div>
    <div class="span-8 last">
      <h3>Getting started</h3>
      <ul>
        <li><a href="/app/page/">First steps</a></li>
        <li><a href="/app/books/">The books list</a></li>
        <!-- <li><a href="/app/page/">What &amp; Where?</a></li>
        <li><a href="/app/page/">XQuery module documentation</a></li>
        <li><a href="/app/page/">Technical Overview</a></li>
        <li><a href="/app/page/">Further reading</a></li> -->
      </ul>
      
    </div>
</div>
</body>
</html>
