@charset "UTF-8";
/* CSS Document */

ul#main_tree,
ul#main_tree ul {
	margin:0px;
	list-style:none;
}

ul#main_tree {
	padding:10px 0px;
}

ul.sub_tree,
ul.sub_tree ul {
	padding:0px;
}

ul#main_tree li {
	margin:0px;
	padding:6px 0px 0px 10px;
}

ul.sub_tree li {
	background:url(../images/tree_path_ver.png) repeat-y 8px 0px;
}

ul.sub_tree li:last-child {
	background:url(../images/tree_path_ver.png) no-repeat 8px 0px;
}

ul#main_tree li span,
ul#main_tree li span.closed {
	background:url(../images/tree_arrow.png) no-repeat left top;
	display:inline-block;
	padding:2px 0px 0px 18px;
	margin:0px;
}

ul.sub_tree li span,
ul.sub_tree li span.closed {
	background:url(../images/tree_arrow_sub.png) no-repeat left top !Important;
	display:inline-block;
	padding:2px 0px 0px 18px;
	margin:0px;
}

ul#main_tree li span:hover,
ul#main_tree li span:focus {
	cursor:pointer;
}

ul#main_tree li span.loading {
	background:url(../images/tree_loading.gif) no-repeat left center !Important;
}

ul#main_tree li span.open {
	background:url(../images/tree_arrow.png) no-repeat left bottom;
}

ul.sub_tree li span.open {
	background:url(../images/tree_arrow_sub.png) no-repeat left bottom !Important;
}

ul.sub_tree {
	display:none;
	overflow:hidden;
	margin:0px;
}

ul#main_tree li span.open_tab,
ul.sub_tree li span.open_tab {
	background:none !Important;
	padding:0px 0px 0px 10px;
	color:#0C0;
}