/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/


/**************************************/
/*              HEADER                */
/**************************************/



/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/
label {
  width:150px;
  display:block;
  float:left;
}
.row {
  margin-bottom:5px;
}
.hidden {
  display:none;
}
.inner {
  margin:1em;
  padding:1em;
  border:4px solid #cfcfcf;
}
/**************************************/
/*               FOOTER               */
/**************************************/

